@media screen and (max-width: 768px) {
  .ant-picker-datetime-panel {
    max-width: 90vw !important;
    width: auto !important;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 480px) {
  .ant-picker-datetime-panel {
    max-width: 85vw !important;
    width: auto !important;
  }
}
@media screen and (max-width: 380px) {
  .ant-picker-datetime-panel {
    max-width: 85vw !important;
    width: auto !important;
    font-size: 12px !important;
  }
}
